In [1]:
#Import relevant libraries 

from __future__ import print_function
import pandas as pd
import numpy as np
import random

In [2]:
#Create class player

class Player:

  #Constructor
  def __init__(self, time, win_rate,nr_deposit, label):
    self.time = time
    self.win_rate = win_rate
    self.nr_deposit = nr_deposit
    self.label = label
  
  def get_player_params(self):
    return [self.time, self.win_rate, self.nr_deposit, self.label]

In [3]:
#Create player function

def create_player_list(iteration_span, time_span, win_rate_span,
                         nr_deposit, answer):
    player_list = []
    for x in range(random.randint(iteration_span[0], iteration_span[1])):
      player_list.append(
          Player(
              random.randint(time_span[0], time_span[1]),
              random.uniform(win_rate_span[0], win_rate_span[1]),
              random.randint(nr_deposit[0], nr_deposit[1]),
              answer).get_player_params())
    return player_list

In [4]:
# Ctreate training data.
training_data =  \
      create_player_list([400,1000], [0,3], [.8,3], [0,2], 0)+\
      create_player_list([400,1000], [1,2], [5,7], [2,3], 0)+\
      create_player_list([400,1000], [4,6], [5,7], [1,1], 0)+\
      create_player_list([400,1000], [0,1], [0.8,2], [0,2], 0)+\
      create_player_list([400,1000], [9,10], [8,12], [0,2], 0)+\
      create_player_list([400,1000], [1,2], [.7,1.3], [0,1], 0)+\
      create_player_list([400,1000], [3,5], [.7,1], [1,4], 1)+\
      create_player_list([400,1000], [6,7], [1, 1.1], [1,2], 1)+\
      create_player_list([400,1000], [1,2], [.8,1], [4,5], 1)+\
      create_player_list([400,1000], [0,2], [.5,.7], [2,3], 1)+\
      create_player_list([400,1000], [8,9], [1,1.2], [1,1], 1)+\
      create_player_list([400,1000], [2,4], [.6,1.5], [2,4], 1)+\
      create_player_list([400,1000], [4,7], [0.3,0.6], [1,2], 2)+\
      create_player_list([400,1000], [5,7], [.4, .5], [2,5], 2)+\
      create_player_list([400,1000], [0,3], [0.3,0.4], [1,3], 2)+\
      create_player_list([400,1000], [8,10], [.7,.9], [4,5], 2)+\
      create_player_list([400,1000], [9,11], [1,2], [0,1], 2)+\
      create_player_list([400,1000], [2,4], [.5,.7], [2,3], 2)+\
      create_player_list([400,1000], [7,9], [.4,.5], [3,6], 3)+\
      create_player_list([400,1000], [2,4], [.3,.4], [2,4], 3)+\
      create_player_list([400,1000], [6,10], [.5,.7], [5,8], 3)+\
      create_player_list([400,1000], [0,2], [0,.3], [6,8], 3)+\
      create_player_list([400,1000], [3,5], [.2,.3], [4,6], 3)+\
      create_player_list([400,1000], [7,8], [1,1.3], [4,5], 3)+\
      create_player_list([400,1000], [9,12], [.1,.2], [2,4], 4)+\
      create_player_list([400,1000], [5,8], [.2,.3], [5,7], 4)+\
      create_player_list([400,1000], [3,5], [.1,.3], [4,7], 4)+\
      create_player_list([400,1000], [2,4], [.1,.2], [8,12], 4)+\
      create_player_list([400,1000], [11,16], [1,4], [2,7], 4)+\
      create_player_list([400,1000], [6,10], [.3,.5], [7,9], 4)+\
      create_player_list([400,1000], [6,24], [0,0], [5,15], 5)+\
      create_player_list([400,1000], [6,24], [0, 0.05], [5,10],5)+\
      create_player_list([400,1000], [16,24], [0,.2], [4,22], 5)+\
      create_player_list([400,1000], [12,24], [0,.4], [5,20], 5)+\
      create_player_list([400,1000], [16,24], [1,2], [2,3], 5)+\
      create_player_list([400,1000], [0,24], [0,.1], [20,40], 5)

In [5]:
#Package data into a pandas data frame
df = pd.DataFrame(training_data)

In [6]:
#Label dataframe columns
df.columns = ["Time", "Win/Loss Ratio", "Number of Deposits", "label"]

In [7]:
#Return data frame
df

       Time  Win/Loss Ratio  Number of Deposits  label
0         0        2.061242                   1      0
1         3        1.432199                   1      0
2         1        1.617004                   0      0
3         3        2.805442                   0      0
4         0        1.851855                   2      0
...     ...             ...                 ...    ...
25953     8        0.010847                  30      5
25954    14        0.014221                  39      5
25955     5        0.085212                  25      5
25956     7        0.073986                  21      5
25957    24        0.036839                  33      5

[25958 rows x 4 columns]

In [8]:
#Save dataframe as a .csv file
# from google.colab import files

df.to_csv('testplayer.csv', index=False, encoding = 'utf-8-sig') 
# files.download('players.csv')